<p style="color: green"><%= notice %></p>

<h1>Your Friend List</h1>

<div id="friends" class="card w-50 bg-light" >
  <div class="card-body">
    
   
  <% @friends.each do |friend| %>
    <%= render friend, class:"card-text" %>
    <p>
      <%= link_to "Show this friend", friend, class:"btn btn-outline-primary btn-sm" %>
    </p>
  <% end %>
  </div>
</div>
<br>
<%= link_to "New friend", new_friend_path, class:"btn btn-primary" %>
